<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container-app">
            <div class="contacts-panel">

                <header>
                    <div class="user-info-container">
                        <img src="img/avatar_io.jpg" alt="Sofia">
                         <p>Sofia</p>
                    </div>
                    
                  
                    <div id="header-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <div id="alert-message">
                    <div id="notification-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div id="notification-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="a" target="_blank">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div id="search-contact">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input 
                    class="find-chat"
                    v-model="newSearchContact"
                    type="text" 
                    placeholder="Cerca o inizia una nuova chat"
                    @keyUp="searchContact">
                </div>

                <div id="contact-chat">
                    <div 
                    v-if="contact.visible"
                    v-for="(contact, index) in contacts" 
                    :class="{ active: index === activeIndex }" 
                    class="contact"
                    @click="setActiveContact(index)"
                    >
                        <div class="avatar-info-container">
                            <img  
                            class="avatar-icon"  
                            :src="'img/avatar' + contact.avatar + '.jpg'" 
                            alt="contact.name">

                            <div class="avatar-info">
                                <h2>{{ contact.name }}</h2>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div>   
        </div>
    </div>


    <div class="right-panel">
        <div class="contact-user">
            <div class="user-info-container">
                <img 
                :src="'img/avatar' + contacts[activeIndex].avatar + '.jpg'" 
                :alt="contacts[activeIndex.name]">
                 <p>{{ contacts[activeIndex].name }}</p>
            </div>
            <div id="header-icons">
                <i class="fa fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
        <div class="chat-container">
            <div 
            v-for="message in contacts[activeIndex].messages"
            class="message"
            :class="message.status">

            <p>{{ message.message }}</p>
            <div class="message-time">
                {{ getHoursMinutes(message.date) }}</div>
            </div>
        </div>


        <div class="new-message-container">
            <i class="fa-regular fa-face-smile"></i>

            <input 
            class="text-new-message" 
            type="text" 
            v-model= "newMessage" 
            placeholder="Scrivi un messaggio"
            @keyUp.enter="sendMessage"
            />

            <i class="fa-solid fa-microphone"></i>
        </div>
            


    </div>
       
        


    </div>
    













   
    <script src="script.js"></script>
</body>
</html>