* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENT */

/* contacts panel */

.container-background{
    margin: 0 auto;
}

.first-section{
    background-color: #009688;
    height: 100px;
}

.second-section{
    background-color: #d6dbd8
}

.container-app{
    width: 1200px;
    height: calc(100vh - 100px);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #f3eeea;
}


.contacts-panel{
    background-color: white;
    width: 35% ;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;

}

header{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header img{
    border-radius: 50%;
    height: 60px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.fa-circle-notch, .fa-message, .fa-ellipsis-vertical{
    padding-right: 10px;
}

.user-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-icons{
    font-size: 1.2rem;
    color: #b1b1b1;
}

#alert-message{
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

#notification-icon{
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    width: 60px;
    height: 57px;
    object-fit: cover;
    margin: 5px 25px 5px 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}


#search-contact{
    background-color: #fafafa;
    padding: 5px 20px;
}

#search-contact i{
    color: #b1b1b1;
}

#contact-chat{
    overflow-y: scroll;
    flex-grow: 1;
}

.active{
    background-color: #e9ebeb;
}

.avatar-info-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
    
}

.avatar-icon{
    border-radius: 50%;
    height: 60px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.avatar-info{
    margin-left: 20px;
}

.avatar-info h2{
    font-size: 1rem;
}

.avatar-info-p{
    font-size: 0.8rem;
    color: #b1b1b1;
}


/* right panel */

.right-panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.contact-user{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #d6d6d6;

}

.contact-user img{
    border-radius: 50%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;

}

.fa-search, .fa-paperclip,.fa-ellipsis-vertical{
    padding-right: 10px;
}

.chat-container{
    flex-grow: 1;
    background-image: url(img/mine.jpg);
    display: flex;
    flex-direction: column;
}

.sent{
    background-color: #d5f9ba;
    margin-top: 20px;
    display: flex;
    padding: 12px;
    max-width: 30%;
    border-radius: 10px;
}

.received{
    
    background-color: white;
    margin-top: 20px;
    max-width: 30%;
    border-radius: 10px;
    margin-left: 30px;
    padding: 12px;
}

.new-message-container{
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
}

.new-message-container i{
    font-size: 1.2rem;
    color: #b1b1b1;
    margin-top: 24px

}

.text-new-message{
    width: 600px;
    border-radius: 10px;
    height: 49px;
    margin-top: 10px;
    border: white;
    padding-left: 10px;
}

.fa-face-smile{
    padding-left: 13px;
}

.fa-microphone{
    padding-right: 13px;
}


