* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-background{
    margin: 0 auto;
}

.first-section{
    background-color: #009688;
    height: 100px;
}

.second-section{
    background-color: #d6dbd8
}

.container-app{
    width: 1200px;
    height: calc(100vh - 100px);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #f3eeea;
}


.contacts-panel{
    background-color: white;
    width: 35% ;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;

}

header{
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header img{
    border-radius: 50%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.user-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-icons{
    font-size: 1.2rem;
    color: #b1b1b1;
}

#alert-message{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    height: 70px;
}

#notification-icon{
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    width: 55px;
    height: 50px;
    object-fit: cover;
    margin: 5px 25px 5px 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}


#search-contact{
    background-color: #fafafa;
    padding: 5px 20px;
}

#search-contact i{
    color: #b1b1b1;
}


#alert-message p{
    flex-direction: row;
}

.contact .active{
    background-color: #e9ebeb;
}

.avatar-info-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
    
}

.avatar-icon{
    border-radius: 50%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.avatar-info{
    margin-left: 20px;
}

.avatar-info h2{
    font-size: 1rem;
}

.avatar-info-p{
    font-size: 0.8rem;
    color: #b1b1b1;
}


.right-panel{
    flex-grow: 1;
}